botTurismo.json
{
  "name": "chatbot_turismo_wp",
  "nodes": [
    {
      "parameters": {
        "url": "https://jpjgaouuryembsuavheb.supabase.co/rest/v1/faqs",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "activo",
              "value": "eq.true"
            },
            {
              "name": "order",
              "value": "categoria.asc,orden.asc"
            },
            {
              "name": "select",
              "value": "pregunta,respuesta,categoria"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Impwamdhb3V1cnllbWJzdWF2aGViIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjAxOTQzNSwiZXhwIjoyMDg3NTk1NDM1fQ.2BCxtEeV10UtEH-XXaz8QZGxxkZsmXrwzRLqOgHm3rI"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Impwamdhb3V1cnllbWJzdWF2aGViIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjAxOTQzNSwiZXhwIjoyMDg3NTk1NDM1fQ.2BCxtEeV10UtEH-XXaz8QZGxxkZsmXrwzRLqOgHm3rI"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "16a503f7-8182-41d4-bb8a-e4e977873e3c",
      "name": "Fetch FAQs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1040,
        16
      ],
      "notes": "Lee las FAQs activas desde Supabase. Se actualizan en tiempo real desde el dashboard."
    },
    {
      "parameters": {
        "url": "={{ \"https://comunicacionsmt.gob.ar/get_events?start=\" + encodeURIComponent(new Date().toISOString().split('.')[0] + \"-03:00\") + \"&end=\" + encodeURIComponent(new Date(Date.now() + 15 * 24 * 60 * 60 * 1000).toISOString().split('.')[0] + \"-03:00\") }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "Accept-Language",
              "value": "es-AR,es;q=0.9,en;q=0.8"
            },
            {
              "name": "Referer",
              "value": "https://comunicacionsmt.gob.ar/"
            },
            {
              "name": "Origin",
              "value": "https://comunicacionsmt.gob.ar"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "484cfc2a-20fe-41d0-bf50-133043e0723d",
      "name": "Fetch Cultural Events",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -800,
        16
      ],
      "notes": "API Municipalidad SMT: trae eventos de los próximos 15 días desde comunicacionsmt.gob.ar/get_events"
    },
    {
      "parameters": {
        "jsCode": "// 1. Eventos culturales\nlet eventsData = [];\ntry {\n  const rawResp = $('Fetch Cultural Events').first().json;\n  // Detect Cloudflare challenge page (returns HTML instead of JSON)\n  const isCloudflare = typeof rawResp === 'string' || rawResp?.statusCode === 403 || (rawResp && Object.keys(rawResp).some(k => rawResp[k] && typeof rawResp[k] === 'string' && rawResp[k].includes('Cloudflare')));\n  const raw = isCloudflare ? [] : rawResp;\n  if (Array.isArray(raw)) eventsData = raw;\n  else if (raw && Array.isArray(raw.data)) eventsData = raw.data;\n  else if (raw && Array.isArray(raw.events)) eventsData = raw.events;\n} catch(e) { eventsData = []; }\n\nlet eventsSummary = '';\nif (eventsData.length === 0) {\n  eventsSummary = 'No se encontraron eventos activos. Recomendá visitar agendaculturalsmt.com';\n} else {\n  const now = new Date();\n  const upcoming = eventsData\n    .filter(ev => { const d = new Date(ev.date || ev.fecha || ev.start_date || now); return (d - now) >= -86400000 && (d - now) <= 30 * 86400000; })\n    .slice(0, 10);\n  if (upcoming.length === 0) {\n    eventsSummary = 'No hay eventos próximos via API. Recomendá visitar agendaculturalsmt.com';\n  } else {\n    eventsSummary = upcoming.map(ev => {\n      const nombre = ev.title || ev.nombre || ev.name || 'Evento';\n      const fecha = ev.date || ev.fecha || ev.start_date || '';\n      const lugar = ev.location || ev.lugar || ev.venue || '';\n      const desc = ev.description || ev.descripcion || ev.summary || '';\n      const dateStr = fecha ? new Date(fecha).toLocaleDateString('es-AR', {weekday:'long', day:'2-digit', month:'long'}) : '';\n      return `• ${nombre}${dateStr ? ' — ' + dateStr : ''}${lugar ? ' @ ' + lugar : ''}${desc ? ': ' + desc.substring(0,100) : ''}`;\n    }).join('\\n');\n  }\n}\n\n// 2. FAQs dinámicas desde Supabase\nlet faqsSummary = '';\ntry {\n  const allItems = $('Fetch FAQs').all();\n  const faqsArr = allItems.length > 0 ? allItems.map(i => i.json) : [];\n  if (faqsArr.length > 0) {\n    const catLabels = {\n      excursiones:'EXCURSIONES', transporte:'TRANSPORTE', gastronomia:'GASTRONOMÍA',\n      alojamiento:'ALOJAMIENTO', atracciones:'ATRACCIONES', servicios:'SERVICIOS',\n      nocturna:'VIDA NOCTURNA', salud:'SALUD', compras:'COMPRAS', festivales:'FESTIVALES', general:'GENERAL'\n    };\n    const groups = {};\n    faqsArr.forEach(f => {\n      const cat = f.categoria || 'general';\n      if (!groups[cat]) groups[cat] = [];\n      groups[cat].push(f);\n    });\n    faqsSummary = Object.entries(groups).map(([cat, items]) => {\n      const label = catLabels[cat] || cat.toUpperCase();\n      const qs = items.map(f => `  P: ${f.pregunta}\\n  R: ${f.respuesta}`).join('\\n');\n      return `[${label}]\\n${qs}`;\n    }).join('\\n\\n');\n  }\n} catch(e) { faqsSummary = ''; }\n\nreturn [{ json: {\n  events_summary: eventsSummary,\n  faqs_summary: faqsSummary,\n  events_count: eventsData.length,\n  last_input_text: $('Webhook').first().json.body.last_input_text || '',\n  whatsapp_phone: $('Webhook').first().json.body.whatsapp_phone || '',\n  user_name: $('Webhook').first().json.body.name || '',\n  subscriber_id: $('Webhook').first().json.body.id || '',\n  session_key: $('Webhook').first().json.body.key || '',\n  live_chat_url: $('Webhook').first().json.body.live_chat_url || ''\n}}];"
      },
      "id": "1570772b-591b-4bc1-8caf-3d5ce0d432d6",
      "name": "Prepare Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        16
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.last_input_text || '' }}\n\n[INFO_SISTEMA: FOTO_ADJUNTA={{ $json.last_input_text && $json.last_input_text.match(/\\.(jpeg|jpg|png|gif|webp)$/i) ? 'SI' : 'NO' }}]",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Eres el Asistente Turístico Virtual oficial de la Dirección Municipal de Turismo (SMT) de San Miguel de Tucumán, Argentina.\nTu canal de comunicación es WhatsApp.\nUsa un tono cálido, amigable, entusiasta y resolutivo. Emojis moderados 🏛️🍽️🎭🌿\n\n🌐 IDIOMA\nDetectás el idioma del usuario automáticamente.\n- Si escribe en español → respondés en español.\n- Si escribe en inglés → respondés en inglés (inglés neutro, claro).\nGuarda el idioma detectado en el campo 'language' del JSON de salida.\n\n📍 CONTEXTO Y UBICACIÓN\nLa Dirección de Turismo está ubicada junto a la Casa Histórica de la Independencia, en el corazón histórico de Tucumán. Somos la fuente oficial de información turística.\nContacto: turismo@smt.gob.ar\n\n🎯 PRINCIPIO FUNDAMENTAL\nSIEMPRE respondés primero con la información concreta que el turista necesita.\nPodés y debés hacer recomendaciones activamente. Si el turista pregunta:\n- 'qué comer' → recomendás opciones concretas con detalle.\n- 'qué visitar' → describís las atracciones con entusiasmo.\n- 'dónde dormir' → explicás las opciones según presupuesto.\nNO hagás interrogatorios. Si necesitás un dato clave, preguntalo DESPUÉS de dar info útil.\n\n🔭 FUNCIONALIDAD ESPECIAL — RECONOCIMIENTO DE EDIFICIOS (GEO-QUIZ)\nTenés una funcionalidad de reconocimiento visual: el turista puede enviarte una foto de un edificio, plaza o lugar de Tucumán y vos lo identificás y contás su historia.\nCÓMO COMUNICAR ESTA FUNCIÓN AL TURISTA:\n- Cuando el turista mencione que está frente a algún edificio o lugar y no sabe qué es → informale esta función: \"¡Podés enviarme una foto y te cuento su historia! 📸 Solo mandá la foto sola, sin ningún texto ni mensaje adicional.\"\n- Cuando te pregunten sobre edificios o lugares históricos en general → mencioná que pueden enviarte una foto para identificarlos.\n- ⚠️ RESTRICCIÓN TÉCNICA IMPORTANTE: ManyChat requiere que la foto se envíe COMPLETAMENTE SOLA, sin texto ni mensaje asociado. Si el turista envía foto + texto, el sistema no puede procesarla. Siempre aclaralo: \"Por favor, mandá la foto sin escribir nada, sola en el mensaje\".\n\n🚫 REGLAS DE ORO — MUY IMPORTANTE\n- NO inventés horarios ni precios que no tengas confirmados.\n- Si no sabés algo exacto, decilo y remití a la fuente oficial.\n- RESPUESTA DIRECTA Y COMPLETA: Respondé la consulta del punto A al Z, de forma completa. NO agregues ni siquiera \"¿Te puedo ayudar con algo más?\", \"¿Querés más información?\", ni ninguna frase de cierre que ofrezca algo adicional.\n- NO hagas preguntas de seguimiento salvo que sea ESTRICTAMENTE NECESARIO para responder (ej: \"¿Cuántos días vas a estar?\" si pregunta qué hacer en su visita).\n- NO ofrezcas servicios adicionales ni hagas sugerencias de nuevos temas luego de responder.\n- MODO CONSULTA: Un turno = una respuesta completa. Terminás de responder → FINALIZÁS. Sin excepciones.\n- EJEMPLOS DE FRASES PROHIBIDAS (NUNCA uses estas ni similares):\n  ❌ \"Si me decís en qué zona estás, te indico mejor...\"\n  ❌ \"Si me decís qué fecha te interesa...\"\n  ❌ \"¿Querés que te recomiende algo más?\"\n  ❌ \"¿Necesitás más información sobre...?\"\n  ❌ \"Si tenés alguna otra consulta...\"\n  ❌ Cualquier pregunta al final de tu respuesta (salvo que sea INDISPENSABLE para responder).\n\n--------------------------------------------------\n❓ PREGUNTAS FRECUENTES (ACTUALIZADAS EN TIEMPO REAL DESDE BASE DE DATOS)\n--------------------------------------------------\n\n{{ $('Prepare Context').item.json.faqs_summary }}\n\n--------------------------------------------------\n🍽️ GASTRONOMÍA TUCUMANA (DETALLE)\n--------------------------------------------------\n\nTucumán es conocida mundialmente por sus empanadas. Las más auténticas se consiguen en:\n• El Fondo de la Olla — San Martín 765. Empanadas criollas tradicionales.\n• La Leñita — Monteagudo 315. Especialidad en locro y humita.\n• El Portal — 24 de septiembre 430. Restaurante tradicional, platos regionales.\n• Mercado del Norte — Juan B. Justo s/n. Puestos de empanadas, tamales y comida casera. Imprescindible.\n• La Querencia — Laprida 356. Ambiente elegante, cocina regional de autor.\n• La Vieja escuela — Santa fe 746. Comida de Bodegón norteño y cafetería de especialidad.\n\nFuente ampliada: https://smt.gob.ar/nota/guia-gastronomica/103\n\n--------------------------------------------------\n🏨 ALOJAMIENTO (DETALLE)\n--------------------------------------------------\n\n⭐ PREMIUM: Hilton Garden Inn Tucumán (Av. Soldati 330), Hotel del Tucumán (Chacabuco 380).\n💛 MID-RANGE: Hotel Versalles (San Martín 460), Hotel Catalinas Park (Av. Soldati 380), Apart Hotel del Parque (Rivadavia 890).\n💚 ECONÓMICO: Posada El Arribo (Balcarce 250), Hostel 25 de Mayo (25 de Mayo 780).\nAgencias receptivas: Turismo Norte Grande (San Martín 670), Tucumán Explorer (Laprida 890).\nFuente: https://smt.gob.ar/nota/gastronomia-hoteles-y-agencias/90\n\n--------------------------------------------------\n🏛️ ATRACCIONES Y PATRIMONIO HISTÓRICO\n--------------------------------------------------\n\n• Casa Histórica de la Independencia — Congreso 151. Donde se declaró la Independencia el 9 de julio de 1816.\n• Casa de Gobierno — Plaza Independencia.\n• Catedral Metropolitana — Plaza Independencia.\n• Museo de la Industria Azucarera (MIA) — Av. de Circunvalación.\n• Parque 9 de Julio — Av. Mate de Luna. Lagos artificiales, zoológico.\n• Cerro San Javier — A 15 km del centro. Trekking, naturaleza, Cristo del cerro.\n• Las Yungas — Selva subtropical a 30 min.\n\n--------------------------------------------------\n📅 AGENDA CULTURAL (TIEMPO REAL)\n--------------------------------------------------\n\n{{ $('Prepare Context').item.json.events_summary }}\n\nFuente: https://agendaculturalsmt.com\n\n--------------------------------------------------\n📸 RECONOCIMIENTO DE PATRIMONIO HISTÓRICO Y GEO-QUIZ\n--------------------------------------------------\n\nSi el usuario envía una foto de un lugar de Tucumán (INFO_SISTEMA: FOTO_ADJUNTA=SI):\n1. Identificá el lugar usando tu conocimiento visual y la BASE DE CONOCIMIENTO DE EDIFICIOS que figura a continuación.\n2. Describí el edificio/lugar con datos históricos, arquitectónicos y turísticos relevantes.\n3. Informá horarios de visita y datos prácticos si los conocés.\nSi no podés identificar la foto, decíselo amablemente y ofrecé describir más el lugar.\n\n📍 BASE DE CONOCIMIENTO — PATRIMONIO HISTÓRICO TUCUMÁN:\n\n🏛️ CASA HISTÓRICA DE LA INDEPENDENCIA (Congreso 151)\nLugar donde el 9 de julio de 1816 se declaró la Independencia Argentina. \nOriginalmente construida en 1760, la sala del congreso se conserva original. El resto fue demolido y reconstruido en 1943.\nEstilo neoclásico. Contiene el facsímil del Acta de Independencia, el sello del Congreso y la sala del cabildo.\nHorario: Fuera de temporada mar-dom 9-13h y 16-20h. Temporada alta (julio) lun-dom 9-19h.\nEspectáculo Luz y Sonido: jue-dom 20:30h. Entrada $8.000 (jubilados/estudiantes $5.000).\n\n🏛️ CASA DE GOBIERNO DE TUCUMÁN (Plaza Independencia)\nEdificio de estilo italianizante construido entre 1906 y 1912. Sede del Poder Ejecutivo provincial.\nDestaca el Salón de los Escudos, el Salón de Representantes y la escalera de mármol de Carrara.\nReloj central con campanadas históricas. Domina la Plaza Independencia.\n\n⛪ CATEDRAL METROPOLITANA (Plaza Independencia)\nConstrucción iniciada en el siglo XVIII, con sucesivas ampliaciones. Estilo ecléctico con influencia neoclásica.\nFachada imponente con torres gemelas. Alberga el Museo Diocesano con piezas coloniales.\nReliquia principal: imagen de Nuestra Señora de las Mercedes.\n\n🏛️ MUSEO DE LA INDUSTRIA AZUCARERA — MIA (Parque 9 de Julio)\nMonumento histórico que narra la historia de la industria del azúcar en Tucumán.\nEdificio de estilo colonial con maquinaria original de fines del siglo XIX.\nEntrada gratuita. Clave para entender la economía regional tucumana.\n\n🏛️ CASA NATAL DE MERCEDES SOSA (Pasaje Crisóstomo Alvarez)\nCasa donde nació Mercedes Sosa en 1935, ícono de la música latinoamericana y el folclore argentino.\nMuseo municipal gratuito. Exhibe su vestimenta, instrumentos, fotos y recuerdos.\n\n🏛️ CASA SOLAR BELGRANIANA (Congreso 23)\nInmueble de valor histórico relacionado con Manuel Belgrano durante su paso por Tucumán en 1812.\nMuseo municipal gratuito. Importante por la Batalla de Tucumán (24 de septiembre de 1812).\n\n🏛️ CASA MUSEO DE LA CIUDAD (Centro histórico)\nMuseo que relata la historia de San Miguel de Tucumán desde su fundación en 1685.\nExhibe mapas, fotografías históricas, objetos coloniales y documentos fundacionales.\nEntrada gratuita.\n\n🏛️ MUSEO SANMARTINIANO DE BURRUYACÚ (Ruta Provincial 317, 34.9 km)\nLugar Histórico Nacional donde San Martín descansó en 1814 camino hacia el norte.\nRéplica del sable corvo del Libertador. Casona del siglo XIX perfectamente conservada.\nA 35 km al noreste de la capital.\n\n🌳 PARQUE 9 DE JULIO (Av. Mate de Luna)\nEl pulmón verde de Tucumán. Inaugurado en la segunda mitad del siglo XIX.\nContiene: Rosedal, Reloj Floral, Lago San Miguel con botes, el Hipódromo, Palacio de Deportes y el MIA.\nIdeal para pic-nic, running y ocio familiar.\n\n🏛️ TEATRO MERCEDES SOSA (Marcos Paz 330)\nTeatro provincial de gran capacidad. Sede de eventos culturales, óperas y festivales.\nNominado en honor a la gran cantante tucumana.\n\n🏛️ TEATRO ALBERDI (Córdoba 550)\nHistórico Teatro de la provincia, fundado en 1942. \nSede de obras del folclore, tango y teatro independiente tucumano.\n\n🏛️ IGLESIA SAN FRANCISCO (25 de Mayo y Junín)\nConstruida por los franciscanos en el siglo XVIII. Una de las más antiguas de Tucumán.\nFachada barroca colonial, interior con pinturas religiosas del período virreinal.\n\n🏛️ IGLESIA SANTO DOMINGO (9 de Julio 21)\nTemplo dominicano fundado en el siglo XVII. Destaca su claustro colonial y biblioteca histórica.\n\n🏛️ IGLESIA DE LA MERCED (Las Heras 182) \nIglesia del siglo XVIII. Alberga la imagen de la Virgen de las Mercedes, Patrona de Tucumán.\nHistóricamente vinculada a la Batalla de Tucumán de 1812.\n\n🏛️ PASAJE 24 DE SEPTIEMBRE\nGalería histórica del centro tucumano. Recuerda la fecha de la Batalla de Tucumán (24/9/1812).\n\n🌟 CIUDADELA HISTÓRICA\nBarrio colonial con calles empedradas y arquitectura del siglo XIX.\nIncluido en el recorrido del Bus Turístico Gratuito.\n\n--------------------------------------------------\n📊 CAPTURA DE DATOS (GOBERNANZA)\n--------------------------------------------------\n\nSiempre que el turista mencione ESPONTÁneamente:\n- De dónde viene → capturá en 'origen_provincia' (Ej: 'Buenos Aires', 'Córdoba', 'Brasil')\n- Cómo llegó → capturá en 'medio_transporte' (avión, auto, bus, tren)\nNO preguntes esto directamente salvo que sea relevante para la consulta (ej: 'qué hacer en mi único día aquí').\n\n--------------------------------------------------\nFORMATO DE SALIDA (JSON OBLIGATORIO)\n--------------------------------------------------\n\nSiempre respondé con este JSON exacto. El campo 'additional_info' es el mensaje que se enviará al turista.\n\n{\n \"intent\": \"recomendacion_gastronomica\" | \"recomendacion_alojamiento\" | \"agenda_cultural\" | \"atraccion_turistica\" | \"bus_turistico\" | \"registro_turista\" | \"geo_quiz\" | \"consulta_general\" | \"saludo\" | \"default\",\n \"language\": \"es\" | \"en\",\n \"cuisine_type\": \"regional\" | \"internacional\" | \"vegetariana\" | \"parrilla\" | null,\n \"budget\": \"economico\" | \"medio\" | \"premium\" | null,\n \"origen_provincia\": \"texto o null\",\n \"medio_transporte\": \"texto o null\",\n \"has_photo\": true | false,\n \"additional_info\": \"Respuesta completa y directa al turista. ⚠️ TERMINANTEMENTE PROHIBIDO: NO agregues preguntas de seguimiento como '¿En qué zona estás?', '¿Querés más info?', '¿Qué fecha te interesa?' ni ninguna frase de ofrecimiento adicional al final. La respuesta TERMINA cuando diste la info. Usá saltos de línea para legibilidad.\"\n}"
        }
      },
      "id": "92b0feeb-ec74-486c-908c-9c15b1487c55",
      "name": "Main AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        96,
        160
      ]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"intent\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"enum\": [\n\t\t\t\t\"recomendacion_gastronomica\",\n\t\t\t\t\"recomendacion_alojamiento\",\n\t\t\t\t\"agenda_cultural\",\n\t\t\t\t\"atraccion_turistica\",\n\t\t\t\t\"bus_turistico\",\n\t\t\t\t\"registro_turista\",\n\t\t\t\t\"geo_quiz\",\n\t\t\t\t\"consulta_general\",\n\t\t\t\t\"saludo\",\n\t\t\t\t\"default\"\n\t\t\t]\n\t\t},\n\t\t\"language\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"enum\": [\n\t\t\t\t\"es\",\n\t\t\t\t\"en\"\n\t\t\t]\n\t\t},\n\t\t\"cuisine_type\": {\n\t\t\t\"type\": [\n\t\t\t\t\"string\",\n\t\t\t\t\"null\"\n\t\t\t],\n\t\t\t\"enum\": [\n\t\t\t\t\"regional\",\n\t\t\t\t\"internacional\",\n\t\t\t\t\"vegetariana\",\n\t\t\t\t\"parrilla\",\n\t\t\t\tnull\n\t\t\t]\n\t\t},\n\t\t\"budget\": {\n\t\t\t\"type\": [\n\t\t\t\t\"string\",\n\t\t\t\t\"null\"\n\t\t\t],\n\t\t\t\"enum\": [\n\t\t\t\t\"economico\",\n\t\t\t\t\"medio\",\n\t\t\t\t\"premium\",\n\t\t\t\tnull\n\t\t\t]\n\t\t},\n\t\t\"origen_provincia\": {\n\t\t\t\"type\": [\n\t\t\t\t\"string\",\n\t\t\t\t\"null\"\n\t\t\t]\n\t\t},\n\t\t\"medio_transporte\": {\n\t\t\t\"type\": [\n\t\t\t\t\"string\",\n\t\t\t\t\"null\"\n\t\t\t]\n\t\t},\n\t\t\"has_photo\": {\n\t\t\t\"type\": \"boolean\"\n\t\t},\n\t\t\"additional_info\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t},\n\t\"required\": [\n\t\t\"intent\",\n\t\t\"language\",\n\t\t\"additional_info\"\n\t]\n}"
      },
      "id": "cc186ca4-5d0e-4677-b064-4eebb38a3342",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        288,
        384
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/sending/sendContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 4433981:cd6ef0f6a70cc5bdc94de6047b9cd589"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"subscriber_id\": {{ $('Prepare Context').item.json.subscriber_id }},\n  \"data\": {\n    \"version\": \"v2\",\n    \"content\": {\n      \"type\": \"whatsapp\",\n      \"messages\": [\n        {\n          \"type\": \"text\",\n          \"text\": {{ JSON.stringify($json.output.additional_info) }}\n        }\n      ]\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        528,
        256
      ],
      "id": "2eafa73c-70ff-4766-9889-ff4c8d5cb846",
      "name": "Send to ManyChat",
      "notes": "API Key ManyChat Turismo: 4433981:cd6ef0f6a70cc5bdc94de6047b9cd589"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.intent }}",
                    "rightValue": "recomendacion_gastronomica",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "intent-gastro"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Gastronomía"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.intent }}",
                    "rightValue": "recomendacion_alojamiento",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "intent-aloj"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Alojamiento"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.intent }}",
                    "rightValue": "agenda_cultural",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "intent-agenda"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Agenda Cultural"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.intent }}",
                    "rightValue": "atraccion_turistica",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "intent-atrac"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Atracción Turística"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.intent }}",
                    "rightValue": "bus_turistico",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "intent-bus"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Bus Turístico"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.intent }}",
                    "rightValue": "geo_quiz",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "intent-geo"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Geo Quiz"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.intent }}",
                    "rightValue": "=registro_turista || consulta_general || saludo",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "intent-otros"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "General / Saludo"
            }
          ]
        },
        "options": {}
      },
      "id": "a09f7d70-8742-4ebe-922c-498a048b385e",
      "name": "Route by Intent",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        720,
        64
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "log-1",
              "name": "chat_id",
              "value": "={{ $('Prepare Context').item.json.whatsapp_phone }}",
              "type": "string"
            },
            {
              "id": "log-2",
              "name": "user_name",
              "value": "={{ $('Prepare Context').item.json.user_name }}",
              "type": "string"
            },
            {
              "id": "log-3",
              "name": "intent",
              "value": "={{ $json.output.intent }}",
              "type": "string"
            },
            {
              "id": "log-4",
              "name": "language",
              "value": "={{ $json.output.language || 'es' }}",
              "type": "string"
            },
            {
              "id": "log-5",
              "name": "origen_provincia",
              "value": "={{ $json.output.origen_provincia || null }}",
              "type": "string"
            },
            {
              "id": "log-6",
              "name": "medio_transporte",
              "value": "={{ $json.output.medio_transporte || null }}",
              "type": "string"
            },
            {
              "id": "log-7",
              "name": "query_text",
              "value": "={{ $('Prepare Context').item.json.last_input_text }}",
              "type": "string"
            },
            {
              "id": "log-8",
              "name": "bot_response",
              "value": "={{ $json.output.additional_info }}",
              "type": "string"
            },
            {
              "id": "log-9",
              "name": "has_photo",
              "value": "={{ $json.output.has_photo || false }}",
              "type": "boolean"
            },
            {
              "id": "log-10",
              "name": "budget",
              "value": "={{ $json.output.budget || null }}",
              "type": "string"
            },
            {
              "id": "log-11",
              "name": "live_chat_url",
              "value": "={{ $('Prepare Context').item.json.live_chat_url }}",
              "type": "string"
            },
            {
              "id": "log-12",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "36a0c7eb-eba8-44b0-87bf-93f8d8e088f1",
      "name": "Prepare Log Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        976,
        64
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1040,
        256
      ],
      "id": "ef0cb400-3fcc-4005-92dc-2f5672007673",
      "name": "No Operation"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "turismo-smt-bot",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1264,
        16
      ],
      "id": "af60124d-17b0-42b2-bd2c-0e0401a0184b",
      "name": "Webhook",
      "webhookId": "turismo-smt-bot"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Prepare Context').item.json.session_key }}"
      },
      "id": "51671b88-e8c8-48e2-8828-2d8e9e7bc996",
      "name": "Conversation Memory1",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        144,
        384
      ]
    },
    {
      "parameters": {
        "model": "openai/gpt-5.2",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        0,
        368
      ],
      "id": "65dfcb52-3881-473e-a92a-87e8b290c7fb",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "W28NaCbRhIDSWr7A",
          "name": "OpenRouter turismo"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "is-image-url",
              "leftValue": "={{ $json.last_input_text }}",
              "rightValue": "=jpeg",
              "operator": {
                "type": "string",
                "operation": "endsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b36983e8-9a63-4bb3-8939-bf6518a2562d",
      "name": "¿Es una imagen?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -320,
        16
      ],
      "notes": "Detecta si last_input_text es una URL de imagen (sin espacios, empieza con http)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "HTTP-Referer",
              "value": "https://turismosmt.gob.ar"
            },
            {
              "name": "X-Title",
              "value": "Bot Turístico SMT"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  JSON.stringify({\n    model: 'google/gemini-2.5-pro-preview-03-25',\n    messages: [\n      {\n        role: 'system',\n        content: 'Sos el asistente de reconocimiento visual del Bot Turístico de San Miguel de Tucumán, Argentina. Analizás fotos para identificar edificios, monumentos y lugares de Tucumán y brindás información histórica y turística. El mensaje generado será enviado por whatsapp, por lo que la respuesta debe ser breve'\n      },\n      {\n        role: 'user',\n        content: [\n          {\n            type: 'image_url',\n            image_url: { url: $('Prepare Context').item.json.last_input_text }\n          },\n          {\n            type: 'text',\n            text: `Analizá esta fotografía con mucho cuidado y determiná si muestra un edificio, plaza, monumento o lugar de San Miguel de Tucumán, Argentina.\n\nPROCESO DE ANÁLISIS:\n1. Primero describí brevemente lo que ves en la imagen (arquitectura, estilo, elementos visuales clave).\n2. Luego identificá el lugar.\n\nCRITERIOS DE RESPUESTA:\nA) Si identificás el lugar con ALTA CONFIANZA:\n   → Decí el nombre del lugar, su historia, importancia y datos turísticos prácticos (horarios, acceso, curiosidades). Tono entusiasta y cálido. Sin preguntas al final.\n\nB) Si el lugar PODRÍA ser de Tucumán pero no lo identificás con certeza:\n   → Describí lo que ves arquitectónicamente y pedí amablemente más contexto: \"Veo [descripción]. ¿Podés decirme el nombre o la dirección?\"\n\nC) Si la imagen CLARAMENTE no muestra un lugar de Tucumán (objeto común, persona, lugar de otra ciudad, etc.):\n   → Decilo directamente: \"Esta foto no muestra un lugar de Tucumán. ¡Mandame una foto de algún edificio o lugar de la ciudad y te cuento su historia! 📸\"\n\nIMPORTANTE: Nunca inventes ni fuerces una identificación. Es mejor admitir que no lo reconocés que confirmar algo incorrecto.\n\nLUGARES DE TUCUMÁN MÁS FOTOGRAFIADOS:\n🏛️ CASA HISTÓRICA DE LA INDEPENDENCIA (Congreso 151)\nLugar donde el 9 de julio de 1816 se declaró la Independencia Argentina. \nOriginalmente construida en 1760, la sala del congreso se conserva original. El resto fue demolido y reconstruido en 1943.\nEstilo neoclásico. Contiene el facsímil del Acta de Independencia, el sello del Congreso y la sala del cabildo.\nHorario: Fuera de temporada mar-dom 9-13h y 16-20h. Temporada alta (julio) lun-dom 9-19h.\nEspectáculo Luz y Sonido: jue-dom 20:30h. Entrada $8.000 (jubilados/estudiantes $5.000).\n\n🏛️ CASA DE GOBIERNO DE TUCUMÁN (Plaza Independencia)\nEdificio de estilo italianizante construido entre 1906 y 1912. Sede del Poder Ejecutivo provincial.\nDestaca el Salón de los Escudos, el Salón de Representantes y la escalera de mármol de Carrara.\nReloj central con campanadas históricas. Domina la Plaza Independencia.\n\n⛪ CATEDRAL METROPOLITANA (Plaza Independencia)\nConstrucción iniciada en el siglo XVIII, con sucesivas ampliaciones. Estilo ecléctico con influencia neoclásica.\nFachada imponente con torres gemelas. Alberga el Museo Diocesano con piezas coloniales.\nReliquia principal: imagen de Nuestra Señora de las Mercedes.\n\n🏛️ MUSEO DE LA INDUSTRIA AZUCARERA — MIA (Parque 9 de Julio)\nMonumento histórico que narra la historia de la industria del azúcar en Tucumán.\nEdificio de estilo colonial con maquinaria original de fines del siglo XIX.\nEntrada gratuita. Clave para entender la economía regional tucumana.\n\n🏛️ CASA NATAL DE MERCEDES SOSA (Pasaje Crisóstomo Alvarez)\nCasa donde nació Mercedes Sosa en 1935, ícono de la música latinoamericana y el folclore argentino.\nMuseo municipal gratuito. Exhibe su vestimenta, instrumentos, fotos y recuerdos.\n\n🏛️ CASA SOLAR BELGRANIANA (Congreso 23)\nInmueble de valor histórico relacionado con Manuel Belgrano durante su paso por Tucumán en 1812.\nMuseo municipal gratuito. Importante por la Batalla de Tucumán (24 de septiembre de 1812).\n\n🏛️ CASA MUSEO DE LA CIUDAD (Centro histórico)\nMuseo que relata la historia de San Miguel de Tucumán desde su fundación en 1685.\nExhibe mapas, fotografías históricas, objetos coloniales y documentos fundacionales.\nEntrada gratuita.\n\n🏛️ MUSEO SANMARTINIANO DE BURRUYACÚ (Ruta Provincial 317, 34.9 km)\nLugar Histórico Nacional donde San Martín descansó en 1814 camino hacia el norte.\nRéplica del sable corvo del Libertador. Casona del siglo XIX perfectamente conservada.\nA 35 km al noreste de la capital.\n\n🌳 PARQUE 9 DE JULIO (Av. Mate de Luna)\nEl pulmón verde de Tucumán. Inaugurado en la segunda mitad del siglo XIX.\nContiene: Rosedal, Reloj Floral, Lago San Miguel con botes, el Hipódromo, Palacio de Deportes y el MIA.\nIdeal para pic-nic, running y ocio familiar.\n\n🏛️ TEATRO MERCEDES SOSA (Marcos Paz 330)\nTeatro provincial de gran capacidad. Sede de eventos culturales, óperas y festivales.\nNominado en honor a la gran cantante tucumana.\n\n🏛️ TEATRO ALBERDI (Córdoba 550)\nHistórico Teatro de la provincia, fundado en 1942. \nSede de obras del folclore, tango y teatro independiente tucumano.\n\n🏛️ IGLESIA SAN FRANCISCO (25 de Mayo y Junín)\nConstruida por los franciscanos en el siglo XVIII. Una de las más antiguas de Tucumán.\nFachada barroca colonial, interior con pinturas religiosas del período virreinal.\n\n🏛️ IGLESIA SANTO DOMINGO (9 de Julio 21)\nTemplo dominicano fundado en el siglo XVII. Destaca su claustro colonial y biblioteca histórica.\n\n🏛️ IGLESIA DE LA MERCED (Las Heras 182) \nIglesia del siglo XVIII. Alberga la imagen de la Virgen de las Mercedes, Patrona de Tucumán.\nHistóricamente vinculada a la Batalla de Tucumán de 1812.\n\n🏛️ PASAJE 24 DE SEPTIEMBRE\nGalería histórica del centro tucumano. Recuerda la fecha de la Batalla de Tucumán (24/9/1812).\n\n🌟 CIUDADELA HISTÓRICA\nBarrio colonial con calles empedradas y arquitectura del siglo XIX.\nIncluido en el recorrido del Bus Turístico Gratuito.`\n          }\n        ]\n      }\n    ],\n    max_tokens: 2500\n  })\n}}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "620e45fc-b0ac-4551-967c-30616bff7565",
      "name": "Vision AI — Reconocer Imagen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -16,
        -32
      ],
      "notes": "Llama a Gemini 2.0 Flash con la imagen para identificar el edificio/lugar"
    },
    {
      "parameters": {
        "jsCode": "// Extrae la respuesta de texto de OpenRouter y la formatea como output del agente\nconst resp = $input.first().json;\nlet text = '';\ntry {\n  text = resp.choices?.[0]?.message?.content || resp.error?.message || 'No pude analizar la imagen.';\n} catch(e) { text = 'Error al procesar la imagen.'; }\n\nreturn [{ json: {\n  output: {\n    intent: 'geo_quiz',\n    language: 'es',\n    cuisine_type: null,\n    budget: null,\n    origen_provincia: null,\n    medio_transporte: null,\n    has_photo: true,\n    additional_info: text\n  }\n}}];"
      },
      "id": "87f176e4-a744-404d-9875-e687ed3fdc2e",
      "name": "Parsear Respuesta Visual",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        -80
      ],
      "notes": "Formatea la respuesta de Gemini Vision al mismo formato que el Main AI Agent"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://jpjgaouuryembsuavheb.supabase.co/rest/v1/tourist_interactions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Impwamdhb3V1cnllbWJzdWF2aGViIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjAxOTQzNSwiZXhwIjoyMDg3NTk1NDM1fQ.2BCxtEeV10UtEH-XXaz8QZGxxkZsmXrwzRLqOgHm3rI"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Impwamdhb3V1cnllbWJzdWF2aGViIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjAxOTQzNSwiZXhwIjoyMDg3NTk1NDM1fQ.2BCxtEeV10UtEH-XXaz8QZGxxkZsmXrwzRLqOgHm3rI"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  JSON.stringify({\n    chat_id: $json.chat_id || null,\n    user_name: $json.user_name || null,\n    intent: $json.intent || 'consulta_general',\n    language: $json.language || 'es',\n    origen_provincia: $json.origen_provincia || null,\n    medio_transporte: $json.medio_transporte || null,\n    query_text: $json.query_text || null,\n    bot_response: $json.bot_response || null,\n    has_photo: $json.has_photo || false,\n    budget: $json.budget || null,\n    live_chat_url: $json.live_chat_url || null\n  })\n}}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1184,
        64
      ],
      "id": "1149fbf7-e0f0-41ee-9d12-5aa73d0a2820",
      "name": "Log Tourist Interaction1",
      "notes": "POST a Supabase REST API — inserta en tourist_interactions. Usa service_role para bypasear RLS."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftWordBoundary": false,
            "rightWordBoundary": false
          },
          "conditions": [
            {
              "id": "is-audio-url",
              "combinator": "and",
              "conditions": [
                {
                  "id": "cond-1",
                  "leftValue": "={{ $json.last_input_text }}",
                  "operator": {
                    "type": "string",
                    "operation": "regex",
                    "singleCondition": true
                  },
                  "rightValue": "\\.(ogg|mp3|m4a|mp4|wav|aac|amr|wma)($|\\?)"
                }
              ]
            }
          ]
        },
        "options": {}
      },
      "id": "if-audio-node-1772628110602",
      "name": "¿Es un audio?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -320,
        320
      ],
      "notes": "Detecta si es una URL de archivo de sonido"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openRouterApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  JSON.stringify({\n    model: 'google/gemini-2.5-flash',\n    messages: [\n      {\n        role: 'system',\n        content: 'Sos un transcriptor experto. Tu única tarea es escuchar el audio provisto y transcribir exactamente las palabras habladas al texto. No agregues saludos, explicaciones, asunciones, ni formatos especiales.'\n      },\n      {\n        role: 'user',\n        content: [\n          {\n            type: 'image_url', // Gemini 2.5 on OpenRouter uses image_url for multimodal (including audio)\n            image_url: { url: $json.last_input_text }\n          },\n          {\n            type: 'text',\n            text: 'Transcribí este audio.'\n          }\n        ]\n      }\n    ]\n  })\n}}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "transcribe-audio-1772628110602",
      "name": "Transcribir Audio (Gemini)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        0,
        600
      ],
      "notes": "Llama a Gemini 2.5 Flash para transcribir la nota de voz"
    },
    {
      "parameters": {
        "jsCode": "const originalInput = $('¿Es un audio?').first().json;\nconst resp = $input.first().json;\nlet text = '';\n\ntry {\n  text = resp.choices?.[0]?.message?.content || resp.error?.message || '';\n} catch(e) {}\n\nif (!text || text.trim() === '') {\n  text = '[El audio recibido está vacío o no pudo ser transcrito]';\n}\n\n// Inyectar el texto como si el usuario lo hubiera escrito\noriginalInput.last_input_text = text;\n\nreturn [{ json: originalInput }];"
      },
      "id": "inject-transcription-1772628110602",
      "name": "Inyectar Transcripción",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        250,
        600
      ],
      "notes": "Reemplaza el last_input_text del usuario con el texto transcrito"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Fetch FAQs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch FAQs": {
      "main": [
        [
          {
            "node": "Fetch Cultural Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Cultural Events": {
      "main": [
        [
          {
            "node": "Prepare Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Context": {
      "main": [
        [
          {
            "node": "¿Es una imagen?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Main AI Agent": {
      "main": [
        [
          {
            "node": "Send to ManyChat",
            "type": "main",
            "index": 0
          },
          {
            "node": "Route by Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Main AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Send to ManyChat": {
      "main": [
        [
          {
            "node": "Route by Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Intent": {
      "main": [
        [
          {
            "node": "Prepare Log Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Log Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Log Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Log Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Log Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Log Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Log Data": {
      "main": [
        [
          {
            "node": "Log Tourist Interaction1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory1": {
      "ai_memory": [
        [
          {
            "node": "Main AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Main AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "¿Es una imagen?": {
      "main": [
        [
          {
            "node": "Vision AI — Reconocer Imagen",
            "type": "main",
            "index": 0
          },
          [
            {
              "node": "¿Es un audio?",
              "type": "main",
              "index": 0
            }
          ]
        ],
        [
          {
            "node": "Main AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vision AI — Reconocer Imagen": {
      "main": [
        [
          {
            "node": "Parsear Respuesta Visual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear Respuesta Visual": {
      "main": [
        [
          {
            "node": "Send to ManyChat",
            "type": "main",
            "index": 0
          },
          {
            "node": "Route by Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Es un audio?": {
      "main": [
        [
          [
            {
              "node": "Transcribir Audio (Gemini)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Main AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      ]
    },
    "Transcribir Audio (Gemini)": {
      "main": [
        [
          [
            {
              "node": "Inyectar Transcripción",
              "type": "main",
              "index": 0
            }
          ]
        ]
      ]
    },
    "Inyectar Transcripción": {
      "main": [
        [
          [
            {
              "node": "Main AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "9e697479-f690-4797-9827-a495aa8b9e9b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bdf27f1e08441fdcec6665bebad804e26077b69cfae1a31752f265dac4f965fe"
  },
  "id": "tCTLKS7m6WLaU5G7",
  "tags": []
}